<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC  
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
    <!--<settings>-->
        <!--&lt;!&ndash; 打印查询语句 &ndash;&gt;-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
    <!--</settings>-->
    <mappers>  
        <!-- <mapper resource="com/ictwsn/UserMapper.xml"/>   -->
        <!--<mapper class="com.ictwsn.test.dao.UserDao"/>-->
        <mapper class="com.ictwsn.rob.beacon.dao.BeaconDao"/>
        <mapper class="com.ictwsn.rob.voice.dao.VoiceDao"/>
        <mapper class="com.ictwsn.web.req.ReqDao.ReqDao"/>
        <mapper class="com.ictwsn.rob.physiology.dao.PhysiologyDao" />
        <mapper class="com.ictwsn.rob.distribute.dao.DistributeDao" />
        <mapper class="com.ictwsn.rob.message.dao.MessageDao" />
        <mapper class="com.ictwsn.rob.schedule.dao.ScheduleDao" />
        <mapper class="com.ictwsn.rob.provider.dao.ProviderDao" />
        <mapper class="com.ictwsn.rob.user.dao.UserDao" />
    </mappers>  
</configuration>  