<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

    <!-- 自动扫描所有注解 -->
    <context:annotation-config/>
    <context:component-scan base-package="com.ictwsn"></context:component-scan>

    <mvc:annotation-driven/>

    <!-- configure the InternalResourceViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          id="internalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 引入MySQL配置 -->
    <import resource="classpath:mysql-config.xml"/>
    <!-- 引入Redis配置 -->
    <import resource="classpath:redis-config.xml"/>

    <!-- 注解激活 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>

    <!-- SpingMVC权限拦截 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean id="loginInterceptor" class="com.ictwsn.utils.tools.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 定时器的配置 -->
    <!-- 包装任务类 -->
    <bean name="Job" class="com.ictwsn.utils.timer.Job"></bean>

    <bean id="job1" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="Job"></property>
        <property name="targetMethod" value="startJob"></property>
    </bean>
    <!-- 触发类 -->
    <!-- 表示每隔就执行   -->
    <!-- <value>0/1 * * * * ? *</value>   -->
    <bean id="doJob1Trigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="job1"></property>
        <property name="cronExpression">
            <!-- 例：每天晚上16点15分开始执行,这里可填写相应表达式 -->
            <value>00 15 16 * * ?</value>
        </property>
    </bean>

    <!-- 流量清零 -->
    <!-- 当日清零 -->
    <bean id="resetByDay" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="Job"></property>
        <property name="targetMethod" value="resetFlowByDay"></property>
    </bean>
    <bean id="resetByDayTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="resetByDay"></property>
        <property name="cronExpression">
            <!-- 例：每天晚上23点59分59秒开始执行,这里可填写相应表达式 -->
            <value>59 59 23 * * ?</value>
        </property>
    </bean>
    <!-- 当月清零 -->
    <bean id="resetByMonth" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="Job"></property>
        <property name="targetMethod" value="resetFlowByMonth"></property>
    </bean>
    <bean id="resetByMonthTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="resetByMonth"></property>
        <property name="cronExpression">
            <!-- 例：每月最后一日晚上23点59分59秒开始执行 -->
            <value>59 59 23 L * ?</value>
        </property>
    </bean>
    <!-- 当年清零 -->
    <bean id="resetByYear" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="Job"></property>
        <property name="targetMethod" value="resetFlowByYear"></property>
    </bean>
    <bean id="resetByYearTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="resetByYear"></property>
        <property name="cronExpression">
            <!-- 例：每月最后一日晚上23点59分59秒开始执行 -->
            <value>59 59 23 L DEC ?</value>
        </property>
    </bean>

    <!-- 调度工厂 -->
    <bean id="startQuartz" lazy-init="false" autowire="no"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="doJob1Trigger"/>
                <ref bean="resetByDayTrigger"/>
                <ref bean="resetByMonthTrigger"/>
                <ref bean="resetByYearTrigger"/>
            </list>
        </property>
    </bean>





    <!-- 文件上传 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
          p:defaultEncoding="UTF-8"/>

    <!-- SpringMVC启动后的系统初始化配置 -->
    <bean id="initialConfiguration" class="com.ictwsn.utils.tools.InitialConfiguration"></bean>

</beans>